.tt-input{
    width:100%!important;
}
.tt-hint{
    width:100%!important;
    color: grey;
}
.tt-menu{
    width: 330px !important;
    margin: 0 auto;
    background-color: #fff;
    position: relative !important;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    left: 16px !important;
}
.tt-suggestion{
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 11px;
}
.tt-suggestion:hover{
    background-color: #fafafa;
}
.tt-cursor {
    background-color: #ebf2fe
}

.twitter-typeahead{
    display: block!important;
    margin-bottom: 20px;
}
