.checkbox span{
    border-color: rgba(158, 173, 195, 0.4) !important;
}
.col-auto{
    width: auto;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
#tab-personal-info .col-auto{
    min-width: 111px;
}
#tab-account-settings .col-auto{
    min-width: 128px;
}
#btn-save{
    padding: 0 30px;
}

.breadcrumb {
    margin-bottom: 0;
    background: none;
    padding: 8px 15px;
    margin-top: inherit;
    font-size: 16px;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb li.active {
    color: #03A9F4;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
#remove-profile-picture i{
    font-size: 18px;
}
.panel-group h4{
    border-color: rgba(158, 173, 195, 0.16);
    font-size: 15px;
    font-weight: bold;
    position: relative;
    display: block;
    min-height: 0;
    margin-top: 2px;
    padding: 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    color: #555a60;
    background-color: #FEFEFF;

}
.panel-group h4:hover{
    color: #2b2f33;
    border-color: #DCD8E7;
    background-color: #f3f3f9;
}
.panel-group h4.active{
    color: #fff;
    background: #E91E63;
    border-color: #dc1156;
}
.no-hover h4{
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #3e4855;
}
.no-hover h4:hover{
    color: initial;
    border-color: initial;
    background-color: initial;
}
#ftp .radio span.checked{
    color: rgba(255, 255, 255, 0);
    background: inherit;
    border: 10px solid #2196F3;
    transition: inherit;
}
#ftp .radio span{
    transition: inherit;
}
#new-project .col-auto{
    min-width: 100px;
}
#datatable-reorder_filter{
    float: left;
    margin-bottom: 15px;
}
#datatable-notification-reorder_filter{
    float: left;
    margin-bottom: 15px;
}
#datatable-reorder th, #datatable-reorder td{
}
img.cpanel{
    width: 35px;
    border-radius: 50px;
}
img.cpanel:hover{
    opacity: 0.85;
}
#datatable-reorder .btn{
    margin: 10px;
}
.width-20{
    width: 20px !important;
}
.width-350{
    width: 350px !important;
}
.width-280{
    width: 280px !important;
}
.width-240{
    width: 240px !important;
}
#edit-people .col-auto{
    min-width: 95px;
}
#edit-info .col-auto{
    min-width: 104px;
}
#edit-cms .col-auto{
    min-width: 55px;
}
#edit-domain .col-auto{
    min-width: 82px;
}
#edit-ftp .col-auto{
    min-width: 55px;
}
a.people-logo{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: inline-block;
}
li.hovered > a:first-child{
    color: #C9C7EF;
}
#add-new-people .col-auto{
    min-width: 131px;
}
.meta-box img{
    width:88px;
    height: 88px;
}
.font-light-blue{
    color: #C3E0FF !important;
}
.dz-message{
    font-size: 24px !important;
    margin: 0 auto !important;
    width: 100% !important;
    position: inherit !important;
    padding: 0px !important;
    top: inherit !important;
    left: inherit !important;
}
.dropzone{
    min-height: 150px !important;
}
img.imgPreview{
    height: 105px;
    width: inherit !important;
    display: inline-block !important;
}
.thumb-pane{
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: rgba(0, 0, 0, 0.13) solid 1px !important;
}
.thumbnail-box-wrapper{
    border-top: rgba(0, 0, 0, 0.13) solid 1px !important;
    border-left: rgba(0, 0, 0, 0.13) solid 1px !important;
    border-right: rgba(0, 0, 0, 0.13) solid 1px !important;
}
.form-wizard label{
    display: inline-block;
}
i.big{
    font-size: 95px;
    position: relative;
    height: 110px;
    display: inline-block;
    padding-top: 60px;
}
.thumbnail-box-folder{
    position: relative;
    overflow: hidden;
    margin: 0 0 20px;
}

#breadcrumb a:after{
    content: ">";
    margin-left: 5px;
    margin-right: 5px;
}
.editable-input input{
    max-width: 150px !important;

}

.remove-folder{
    position: absolute !important;
    right: 10px !important;
    width: 30px !important;
    min-width: inherit !important;
    height: 30px !important;
    top: 10px !important;
}
.remove-folder i{
    position: relative !important;
    top: -9px !important;
}

#bloodhound input{
    width: 330px !important;
    display: inline-block !important;
    margin-top: 10px !important;
    font-size: 17px !important;
    height: 40px !important;
}
#typeahead input{
    width: 330px !important;
    display: inline-block !important;
    margin-top: 10px !important;
    font-size: 17px !important;
    height: 40px !important;
}
#icon-search{
    background: transparent;
    margin-top: 12px;
    z-index: 10;
    position: relative;
    display: inline-block;
    left: 40px;
}

li.active > a.b-success{
    color: #fff;
    border-color: #3fa243;
    background: #4CAF50;
}
a.b-success:hover{
    color: inherit;
}
li.active > a.b-warning{
    color: #fff;
    border-color: #f24a15;
    background: #FF5722;
}
a.b-warning:hover{
    color: inherit;
}
.flex-right{
    justify-content: flex-end;
}
.btn-action{
    width: 120px;
}
.daterangepicker .applyBtn {
    width: 88px !important;
}
.select-inline{
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    min-width: 200px;
    margin-right: 15px;
}
.active-period{
    background: rgba(255, 235, 205, 0.56);
}
.table-center tr > td {
    text-align: center !important;
}

#notifications-btn{
    margin-top: 0px;
    position: absolute;
    margin-left: 20px;
    bottom: 15px;
}
#notifications-btn .bs-badge{
    position: absolute;
    top: -10px;
    left: 10px;
}
.searchbar{
    display: inline-block;
    text-align: center;
    margin-left: 35%;
}
.border-bot-1{
    border-bottom: 1px solid rgba(158, 173, 195, 0.16) !important;
}